#option-container {
  margin: 5rem;
  flex-direction: column;
}

#calories-option {
  text-align: center;
  max-width: 30rem;
}

.option-label {
  width: 100%;
  font-size: x-large;
  text-align: center;
}

#max-calories-range {
  height: 3rem;
  padding: 1rem;
}

.button {
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
}

#advanced-options > .button {
  padding: 1rem;
  background-color: var(--green);
  color: white;
}

#options-nav > .button {
  background-color: var(--brown);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: lightgray;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  background-color: var(--brown);
}

input[type="range"]::-webkit-slider-thumb:focus,
input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-moz-range-thumb:focus,
input[type="range"]::-moz-range-thumb:active{
  outline: none;
  border: none;
  box-shadow: none;
}


.option-button-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.option-button {
  height: 5rem;
  border-radius: 8px;
  background-color: var(--green);
  color: white;
}

.option {
  display: none;
  margin-bottom: 1rem;
}

.option.current {
  display: inline;
}

.form-control{
  height: 50px;
  background-color: #eeeeee;
}

.form-control:focus{
  background-color: #eeeeee;
  box-shadow: none;
  border-color: #eee;
}




