#option-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calories-option {
  text-align: center;
  max-width: 30rem;
}

#calories-option > label {
  width: 100%;
  font-size: xx-large;
}

#max-calories-range {
  background-color: white;
  height: 3rem;
  padding: 1rem;
  border-radius: 50px;

}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: lightgray;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--brown);
}

input[type="range"]::-webkit-slider-thumb:focus,
input[type="range"]::-webkit-slider-thumb:active {
  outline: none;
  border: none;
  box-shadow: none;
}


.option-button-container {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.option-button {
  border: none;
  height: 5rem;
  border-radius: 8px;
  background-color: var(--green);
  color: white;
}

.option {
  display: none;
}

.option.current {
  display: inline;
}

.input-box{
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 15px;
  color: #ced4da;
}

.form-control{
  height: 50px;
  background-color: #eeeeee69;
}

.form-control:focus{
  background-color: #eeeeee69;
  box-shadow: none;
  border-color: #eee;
}



#results-container {
  margin: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-items: center;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.card-title {
  font-size: 14px;
}

.recipe {
  width: 12rem;
  border-radius: 16px;
  color: white;
}

.recipe > img {
  border-radius: 16px;
  height: 12rem;
}


.card-title {
  position: absolute;
  margin: 0.5rem;
  bottom: 0px;
}

.overlay {
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.save-button {
  position: absolute;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  right: 0;
  margin: 0.5rem;
  border: none;

  display: flex;
  justify-content: center;
  align-self: center;
}

.bookmark-image {
  width: 1rem;
}

