@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --tan: #F8F0E8;
  --light-brown: #DDA15E;
  --brown: #BC6C25;
  --dark-green: #283618;
  --green: #606C38;
}


* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--tan);
}

