@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --tan: #F8F0E8;
  --light-brown: #DDA15E;
  --brown: #BC6C25;
  --dark-green: #283618;
  --green: #606C38;
}


* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--tan);
}


/* Navigation bar style rules */
.navbar {
  background-color: var(--dark-green);
}

.navbar h1, .navbar .nav-link, .navbar-toggler-icon {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--tan);
}

.navbar-brand, .navbar-collapse {
  margin-left: 1.5rem; 
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:active {
  outline: none;
  box-shadow: none;
}


.fa.fa-solid.fa-bars {
  font-size: xx-large;
}


.current-page {
  font-weight: bold;
  color: white;
}


/* General styles */

.flat {
  border: none;
  outline: none;
  text-decoration: none;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.semi-round {
  border-radius: 16px;
}

.full-round {
  border-radius: 50px;
}

.full-size {
  width: 100%;
  height: 100%;
}


/* Search bar widget */

.search-bar {
  height: 2.5rem;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar-icon {
  position: relative;
  right: 2.5rem;
  cursor: pointer;
  
  background-color: var(--green);
  width: 2rem;
  height: 2rem;
}

.search-bar-icon .fa.fa-search {
  color: white;
}




