body {
  width: 100vw;
  height: 100vh;
}

main {
  width: auto;
  height: 70%; 
}

.user-form {
  background-color: white;
  width: min(75%, 30rem);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.user-form > div, button, small {
  margin-top: 0.5rem;
}

.user-form > button {
  border-radius: 100px;
  background-color: var(--green);
}

.user-form > button:hover {
  background-color: var(--green);
  filter: brightness(80%);
}


.form-group {
  display: flex;
  flex-direction: column;
}


.control {
  padding: 0.5rem;
  border-bottom: 2px solid grey;
}

.control:focus {
  border-bottom: 2px solid var(--dark-green); 
}


.form-check-label {
  font-size: small;
}


small {
  color: #595959;
}

small > a {
  color: var(--green);
  text-decoration: none;
}
