.navbar {
  background-color: var(--dark-green);
}

.navbar h1, .navbar .nav-link, .navbar-toggler-icon {
  color: var(--tan);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:active {
  outline: none;
  box-shadow: none;
}

#wave-top {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.page-title {
  color: var(--tan);
}


.link-button {
  width: 10rem;
  color: black;
  border-radius: 8px;
  background-color: var(--light-brown);
  
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-evenly;
}

#found-something-before {
  color: var(--brown);
}

#find-recipe-container {
  margin: 0 0 0 1.5rem;
}

#my-recipe-container {
  margin: 5rem 0 0 1.5rem;
}
